#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    privateKeyFile: ../app/keys/rsa_A4304rTaSL.key
#    privateKeyFile: ../app/keys/mips_iplatebnibrana.csob.cz.cer
    bankPublicKeyFile: ../app/keys/rsa_A4304rTaSL.pub

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	- App\Presenters\HomepagePresenter(%privateKeyFile%, %bankPublicKeyFile%)
	router: App\Router\RouterFactory::createRouter
